<h2>
	My handy dandy ToDo list
</h2>

<div class="todo_list" id="todoListMaster" style="color: green">
  <div *ngFor="let todo of todos" [class.completed]="todo.completed">
    <input type="checkbox" [checked]="todo.completed" (change)="update(todo)">
    {{ todo.text }}
  </div>
</div>

<button (click)="clear()">Clear list</button>
 
<div id="notepad" >
	<br>
     Add ToDo item: 
    <input type="text" id="input_id" #todoInput>
    <input type="button" id="todobutton" value="Add" (click)="add(todoInput.value); todoInput.value = '';" />
</div>

<br>